[flake8]
max-line-length = 88
select = E,F,W
exclude = extern,*parsetab.py,*lextab.py
extend-ignore = E203,E501,E711,E721,E731,E741,F403,F821,F841,W5
per-file-ignores =
    __init__.py:F401,F403,E402
    test_*.py:E402
    astropy/io/registry/compat.py:F822
    astropy/modeling/models.py:F401,F403,F405
    examples/*.py:E1,E2,E402
    */examples/*.py:E1,E2,E402

